body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/022/576/372/small_2x/image-of-wooden-table-in-front-of-abstract-blurred-background-of-resturant-lights-wood-table-top-on-blur-of-lighting-in-night-cafe-restaurant-background-selective-focus-generative-ai-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#editBtn {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #4DB6AC1F;
}

#editIcon {
    color: #4DB6AC;
}

#editDelete {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #F656561F;
}

#DeleteIcon {
    color: #F65656;
}

#RestaurantContainer {
    margin-top: 1%;
}

#list {
    opacity: 0.8;
}

#mainDiv {
    background-color: rgba(255, 255, 255, 0.8); /* Optional: add some background color for better text readability */
    padding: 20px; /* Optional: add some padding */
    border-radius: 8px; /* Optional: add some border radius */
    margin-top: 2%;
}

#addModal {
    margin-bottom: 1%;
    margin-top: 2%;
}

#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    align-items: center;
    font-size: 45px;
    align-content: center;
    margin-left: 35%;
}

#header {
    font-family: "Inter";
    font-weight: 800;
    font-size: 20px;
    line-height: 16.94px;
    color: black;
}

#data {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 16.94px;
    color: black;
}

#editRestaurantModalLabel {
    font-family: "Inter";
    font-weight: 800;
    font-size: 22px;
    line-height: 16.94px;
    color: black;
}

#addRestaurantModalLabel {
    font-family: "Inter";
    font-weight: 800;
    font-size: 22px;
    line-height: 16.94px;
    color: black;
}
